RewriteEngine On
RewriteBase /

RewriteCond %{REQUEST_URI} !^/dist/css/.*$
RewriteCond %{REQUEST_URI} !^/dist/js/.*$
RewriteCond %{REQUEST_URI} !^/dist/images/.*$
RewriteCond %{REQUEST_URI} !^/robots.txt
RewriteCond %{REQUEST_URI} !^/dist/

RewriteRule ^(.*)$ /dist/index.php [L,QSA]

ErrorDocument 404 /dist/index.php
ErrorDocument 403 /dist/index.php
